body {
	background-color: white;
	margin: 0 !important;
}

a { text-decoration: none; }

.container {
	width: 95% !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif !important;
}

h1, h2 {
	color: #0375b4 !important;
}

h3, h4, h5, h6 {
	color: #262220 !important;
}

p, span {
	font-family: 'Lato', sans-serif !important;
}


/* header */

header nav ul {
	list-style-type: none;
	padding-left: 0;
	text-align: center;
	margin: 0 auto;
}

header nav ul li {
	display: inline-block;
	padding: 20px 30px;
	font-size: 16px;
	font-family: 'Lato', sans-serif !important;
}

header nav ul li a {
	text-decoration: none;
}


/* section headings */


.heading {
	padding: 60px 0;
	text-align: center;
}

.heading h2 {
	font-size: 42px;
	margin-bottom: 20px;
}

.heading p {
	font-size: 18px;
	font-weight: 300;
}

.heading span {
	font-style: italic;
}

.heading .underline {
	margin: 20px auto;
	width: 40%;
	height: 1px;
	background-color: #d3d3d3;
}


.underline {
	background-color: #d3d3d3;
	width: 60px;
	height: 2px;
	margin-bottom: 20px;
}

.section {
	padding: 40px 0 80px;
}

.section .content {
	width: 80%;
	margin: 0 auto;
}


/* main */


.section.main {
	padding: 0;
	background: linear-gradient(270deg, #246655, #42b1bd, #425abd, #a142bd);
background-size: 300% 300%;

-webkit-animation: BgAnimation 29s ease infinite;
-moz-animation: BgAnimation 29s ease infinite;
animation: BgAnimation 29s ease infinite;

}

@-webkit-keyframes BgAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes BgAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes BgAnimation { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.main .content {
	text-align: center;
	padding: 10% 0;
}

.main .content h1 {
	font-size: 60px;
	text-shadow: 2px 2px #000;
	color: #fff !important;
}

.main .content p {
	font-size: 26px;
	font-weight: 300;
}

.main .content p span {
	font-style: italic;
}

.main .content .underline {
	width: 40%;
	margin: 20px auto;
	background-color: #d3d3d3;
	height: 2px;
}


/* profile */


.profile .content {
	width: 80%;
	margin: 0 auto;
}

.profile .profile-img {
	text-align: center;
}

.profile .profile-img img {
	width: 50%;
}

.profile .content h4{
	font-size: 26px;
}

.profile .content ul {
	padding: 0;
	list-style: none;
}

.profile .content ul li {
	padding: 10px 0;
	font-size: 16px;
	font-weight: bold;
}

.profile .content ul li span{
	font-weight: 300;
}

.profile .about p {
	font-size: 16px;
	line-height: 1.6;
}

.profile ul i {
	margin-right: 15px;
}



/* Experience */


.section.experience {
	background-color: #efefef;
}

.experience .content {
	width: 60%;
}

.experience .meta p {
	font-weight: 300;
}

.experience .meta h4 {
	font-size: 20px;
}

.experience .module {
	padding: 20px 0;
}

.experience .info h6 {
	font-size: 18px;
}

.experience .info p {
	font-weight: 300;
	font-size: 16px;
}



/* Projects */



.projects {
	background-color: #efefef;
}

.projects .content .item {
	width: 100% !important;
	height: 300px !important;
}

.projects .content .row .col-lg-6 {
	margin: 30px 0;
}

.projects .content h2 {
	color: #ffce00 !important;
	font-size: 26px;
}

.projects .content p {
	font-size: 14px !important;
	line-height: 1.6 !important;
}

.projects .content .item img{
	border-radius: 3px;
}

.projects .content .item:hover img{
	opacity: .4;
}

.projects .content .item .caption {
	width: 100%;
	height: 300px;
	background-color: rgba(3, 117, 180, 0.7);
}

.projects .content .item .underline {
	background-color: white;
	margin: 20px 0;
}

@media (min-width: 1450px){
	.projects .content .col-lg-6 {
		width: 33% !important;
	}
}



/* Abilities */



.abilities .content h4 {
	font-size: 26px;
}

.abilities .content ul {
	padding: 0;
	list-style: none;
}

.abilities .content ul li {
	margin: 15px 0;
}

.abilities .content ul li .title {
	font-size: 18px;
	font-weight: 300;

}

.abilities .content ul li .icons {
	float: right;
	margin-right: 50px;
}

.abilities .content ul li .icons i {
	margin: 0 3px;
	color: #DFE0E0;
}

.abilities .content ul li .icons i.active {
	color: #0375b4 !important;
}

.abilities .module {
	margin-bottom: 50px;
}


/* Recent Posts */

.recent-posts .post img {
	margin-bottom: 25px;
}

.recent-posts .view-blog {
	text-align: center;
	display: block;
	font-size: 18px;
	font-style: italic;
	font-family: Lato;
	margin-top: 30px;
}



/* Contact */


.contact {
	background-color: #ffce00 !important;
}

.contact .underline {
	background-color: white;
}

.contact input, .contact textarea {
	font-family: 'Lato', 'sans-serif';
}

.contact .content {
	width: 60%;
}

.contact .btn {
	padding: 10px 25px;
	background-color: #0375b4;
	color: #ffce00;
}

.contact .btn:hover {
	background-color: white;
}



.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}




/* Blog Page */



.featured-area {
	background-size: cover !important;
	height: 350px;
	display: flex;
	justify-content: center;
	
}

.featured-area .title {
	align-self: center;
	background: rgba(0, 0, 0, 0.75);
	padding: 15px 35px;
}

.featured-area .title h1 {
	text-align: center;
	align-self: center;
	color: white !important;
	margin: 0;
}

.blog .content {
	width: 60%;
	margin: 0 auto;
	text-decoration: none;
}

.blog .left-side {
	width: 70%;
	float: left;
	padding-right: 10%;
}

.blog .right-side {
	width: 30%;
	float: left;
}

.blog article {
	margin-bottom: 75px;
}

.blog article a {
	text-decoration: none;
}

.blog article .post-featured-img {
	width: 100%;
	height: 300px;
	background-size: cover !important;
	margin-bottom: 25px;
}

.right-side .sidebar {
	background: #e0e0e0;
	padding: 10%;
	border-radius: 3px;
}

.right-side .sidebar ul {
	padding-left: 0;
	list-style: none;
}

.right-side li {
	list-style: none;
}


.right-side .sidebar h2 {
	font-size: 24px;
}

article .content {
	width: 60%;
	margin: 0 auto;
}

.comment-form-comment label {
	display: none;
}

.comment-form-comment #comment {
	width: 100%;
}

.blog-underline {
	background-color: #0375b4 !important;
	height: 3px;
	margin-bottom: 100px;
	margin-top: 0;
	width: 100%;
}

.entry-content {
	font-size: 18px;
}

article h2 {
	color: #4c4c4c !important;
}


/* search filter results */

form.searchandfilter {
	color: #0375b4;
}

form.searchandfilter input {
	margin-right: 5px !important;
}

form.searchandfilter h3{
	color: #0375b4 !important;
}

.widget_recent_entries li {
	padding: 5px 0;
}

.shareaholic-share-buttons-container.floated {
	display: none !important;
}

